@model WebNews.Models.ViewModels.IPageViewModel<WebNews.Models.Pages.PersonPage>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<p>
    @Html.PropertyFor(x => x.CurrentPage.IntroText)

    <br>
    <br>
        @Html.PropertyFor(x => x.CurrentPage.FirstName)
        @Html.PropertyFor(x => x.CurrentPage.LastName)
    <br/>
    <br>
        @Html.PropertyFor(x => x.CurrentPage.Street)
    <br>
       @Html.PropertyFor(x => x.CurrentPage.PostalCode)
    <br>
        @Html.PropertyFor(x => x.CurrentPage.City)
    <br/>
        @Html.PropertyFor(x => x.CurrentPage.Email)
    <br>
    @Html.PropertyFor(x => x.CurrentPage.PhoneNumber)

    <div class="image-box">
        @Html.PropertyFor(x => x.CurrentPage.PersonImage)
    </div>

</p>
