@model WebNews.Models.Pages.PersonPage
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<h1>
    @Html.PropertyFor(x => x.Header)
</h1>
<p>
    @Model.IntroText

    <br>
    <br>
        @Model.FirstName
        @Model.LastName
    <br/>
    <br>
        @Model.Street
    <br>
        @Model.PostalCode
    <br>
        @Model.City
    <br/>
        @Model.Email
    <br>
    @Model.PhoneNumber

    <div class="image-box">
        @Html.PropertyFor(x => x.PersonImage)
    </div>

</p>
