@using System.Web.Optimization
@using Castle.Core.Internal
@using EPiServer.Core
@using WebNews.Utils
@using WebNews.Utils.Extensions
@model WebNews.Models.ViewModels.EventPageViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@Html.FullRefreshPropertiesMetaData()

<section>
    <p>
        @Html.PropertyFor(x => x.CurrentPage.EventText)
    </p>

    <i>Event Start Time: </i>
    @*@Html.PropertyFor(x => x.CurrentPage.StartTime)*@
    @Model.StartTime
    <br />

    @if (Model.EndTime.IsNotNullOrEmpty())
    {
        <i>Event End Time: </i>
    }
    @Model.EndTime
    <br />
</section>
@if (@Model.CurrentPage.Coordinates.IsNotNullOrEmpty())
{
    <div id="map" data-lng="@Model.Long" data-lat="@Model.Lat" style="height: 300px; width: 500px; margin: 0 auto"></div>

    @Scripts.Render("~/bundle/Home/Index-scripts")


    @*<script type="text/javascript">

        var map;

        function initMap() {
            var position = { lat: @Model.Lat, lng: @Model.Long };
            map = new google.maps.Map(document.getElementById('map'), {
                center: position,
                zoom: 12
            });
            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: 'Event Position'
            });

        }

    </script>*@
    <script async defer
            src=@string.Format("https://maps.googleapis.com/maps/api/js?key={0}&callback=initMap", Settings.GoogleMapsApiKey )>

    </script>
    
}
<section>
    <br />

    @if (Model.CurrentPage.EventPerson != null)
    {
        <h4>Event Contact Person:</h4>
    }
    <div @Html.EditAttributes(m => m.CurrentPage.EventPerson) style="position:relative">
        <p>@Html.PropertyFor(x => x.CurrentPage.EventPerson)</p>
        <p>@Model.PhoneNumber</p>
        <p>@Model.Email</p>
    </div>
</section>