@model WebNews.Models.ViewModels.ListPageViewModel
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }


<h1>
    @Html.PropertyFor(x => x.Header)
</h1>
<p>
    @Model.IntroText

    @Model.MainBody

    @foreach (var page in Model.ChildPages)
    {
        <br>
        <a href="@page.LinkURL">
            @page.Name
        </a>
    }

</p>